/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c9c0c0;
    font-family: Arial, sans-serif;
    color: black;
}

/* header */

.header-container {
    background-color: white;
    height: 80px;
    line-height: 80px;
}

#header-logo {
    height: 60px;
    vertical-align: middle;
    margin-left: 20px;
}

.header-container>h1 {
    display: inline;
    font-size: 3rem;
    vertical-align: middle;
}

/* main */

.main-container {
    max-width: 920px;
    margin: 0 auto;
    
}

/* main-header */

.main-header {
    margin: 30px 0 2px 0;
    height: 60px;
    line-height: 60px;
    background-color: white;
    border-radius: 7px 7px 0 0;
}

.main-header-container {
    margin-left: 40px;
}

button {
    background-color: transparent;
    border: 1px solid grey;
    padding: 6px 8px;
    color: grey;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.1rem;
}

.button-blue {
    background-color: #1e90ff;
    color: white;
    border: 1px solid #1e90ff;
}

/* section */

.main-sections-container {
    background-color: white;
    border-radius: 0 0 7px 7px;
    padding: 40px 0 0 40px;
}

.main-section {
    margin-top: 10px;
}

/* section title */
.triangle-down {
    font-size: .8rem;
    vertical-align: middle;
}

/* section content */


.section-content-container {
    margin: 20px 0;
}

.main-section {
    padding-bottom: 15px;
}



.checkbox {
    border-radius: 50%;
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: .8rem;
}

.checkbox-green {
    border: 2px solid #70b770;
    color: #70b770;
}

.checkbox-red {
    border: 2px solid #ff2121 ;
    color: #ff2121 ;
}

.text-normal {
    font-size: 1.3rem;
}

.text-label {
    font-size: .8rem;
    background-color: rgb(20, 114, 114);
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
}

/* different color background of text-label */

.text-label-blue {
    background-color: #1e90ff;
}

.text-label-violet {
    background-color: #9c72e4;
}

.text-label-green {
    background-color: #64c0a9;
}

.text-label-orange {
    background-color: #f29e33;
}

.text-label-pink {
    background-color: #d863a1;
}

.text-label-grape {
    background-color: #b0c926 ;
}

